@import url('https://fonts.googleapis.com/css2?family=Changa+One:ital@0;1&family=Rubik+Dirt&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #211b1b;
}

.top_pagina{
    border-bottom: 3px solid #3c2727;
    display: flex;
    justify-content:space-around
}

.top_pagina img{
    padding: 10px;
}

.top_pagina nav{
    display: flex;
    text-align: center;
    align-items: center;
}

.top_pagina a{
    font-size: x-large;
    padding-left: 20px;
    font-family: "Changa One", sans-serif;
    font-weight: 400px;
    font-style: normal;
    color: rgb(255, 162, 0);
}
.banner1{
    width: 100%;
    height: auto;
}

.texto{
    display: block;
    align-items: center;
    text-align: center;
}
.texto p{
    margin-top: 20px;
    font-size: x-large;
    padding-left: 20px;
    font-family: "Changa One", sans-serif;
    font-weight: 400px;
    font-style: normal;
    color: rgb(255, 162, 0);
}

.barra{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    text-align: start;
}

.barra .buscar{
    margin-top: 10px;
    border: 2px solid;
    border-radius: 30px;
    background-color: rgb(233, 233, 233);
    padding: 10px;
    width: 50%;
}
.barra .buscar p{
    font-family: "Changa One", sans-serif;
    font-style: normal;
}

.seccion2{
    display: flex;
    justify-content:space-between;
    align-items: center;
    text-align: center;
    width: 100%;
    height: auto;
}
.seccion2 .cards img{
    margin-top: 30px;
    width: 95%;
    height: auto;
    border-radius: 20px;

    transition: transform 0.3s ease;
}
.seccion2 .cards img:hover{
    transform: scale(1.05);
}









.productos{
    display: flex;
    align-items: center;
    text-align: center;
}
.card{
    border: 2px solid black;
    width: 300px;
    margin-top: 30px;

}
.card img{
    width: 100%;
    height: auto;
}

@media(max-width: 576px){
    *{
    margin: 0;
    padding: 0;
    }

    body{
        background-color: #211b1b;
    }

    .top_pagina{
        border-bottom: 3px solid #3c2727;
    }

    .top_pagina img{
        margin: 20px;
    }

    .top_pagina nav{
        display: flex;
        flex-direction: column;
        padding: 30px;
        gap: 10px;
    }

    .top_pagina a{
        font-size: x-large;
        padding-left: 20px;
        font-family: "Changa One", sans-serif;
        font-weight: 400px;
        font-style: normal;
        color: rgb(255, 162, 0);
    }
    .productos{
        display: flex;
        align-items: center;
        text-align: center;
    }
    .card{
        border: 2px solid black;
        width: 300px;
        margin-top: 30px;

    }
    .imagen{
        width: 250px;
    }
    .seccion2{
        display: flex;
        justify-content:space-between;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 100%;
        height: auto;
    }
    .seccion2 .cards img{
        margin-top: 30px;
        width: 90%;
        height: auto;
        border-radius: 20px;

        transition: transform 0.3s ease;
    }
    .seccion2 .cards img:hover{
        transform: scale(1.05);
    }
}